.display-inline {
    display: inline;
 }

 .flex-right {
    display: flex;
    justify-content: flex-end;
}

.flex-center {
    display: flex;
    justify-content: flex-end;
}

.button-p {
    margin-bottom: 1em;
}

.general-margin {
     margin: 2px 5px 2px 5px;
}

.add-button {
    width: 75px;
    padding: 5px;
}

fieldset {
    margin: 1em 1em;
    padding: 5px 10px;
    border: 2px #aad5ff solid;
}

#mypageButton {
	display: block;
	width: 100px;
	height: 36px;
	line-height: 3px;
    padding: 5px;
	text-align: center;	
	border-radius: 2px;
    float: right;
}

#tablecaption {
	caption-side: top;
}