
  
#userInfo {
    display: none;
}
#sexInfo {
    display: none;
}
 #playerCodeInfo {
    display: none;
}
 #playerNameInfo {
    display: none;
}
 #birthDayInfo {
    display: none;
}
 #heightInfo {
    display: none;
}
 #weightInfo {
    display: none;
}
 #sideInfo {
    display: none;
}
 #uploadInfo {
    display: none;
}
 #countryInfo {
    display: none;
}
 #birthCountryInfo {
    display: none;
}
 #residencePrefectureInfo {
    display: none;
}
 #birthPrefectureInfo {
    display: none;
}
 #playerIdInfo {
    display: none;
}